{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}

<div class="work-container">
    <h1>My Work</h1>

    <div class="work-flex">
        <div class="workbox">
            <img src="{% static 'dd4.png' %}" alt="">
            <a href="#">Go to Website</a>
        </div>
        <div class="workbox">
            <img src="{% static 'crud.png' %}" alt="">
            <a href='#'>Go to Website</a>
        </div>
        <div class="workbox">
            <img src="{% static 'dd3.png' %}" alt="">
            <a href="#">Go to Website</a>
        </div>
    </div>
</div>

{% endblock content %}